*.xlsx
*.zip
*.csv
*.tsv
*.txt
*.png
*.pdf
*.html
*.docx
*.rtf
*.DS_Store
*.Rhistory
*.fa
*.gz
*.fna
*.ffn
*.out
*.sif
*.ndb
*.nhr
*.nin
*.njs
*.not
*.nsq
*.ntf
*.nto
*.ffa
*.m8
*.gff
*.faa
*.blast
*.err
*.log
*.fsa
*.gbk
*.sqn
*.tbl
*.embl
*.tab
*.Rtab
*.newick
*.dot
*.aln
*.ph
*.bin
*.json
*.nog
*.nos
